# dependencies
FrontEnd/crunchly/node_modules
FrontEnd/crunchly/.pnp
FrontEnd/crunchly/.pnp.js

# testing
FrontEnd/crunchly/coverage

# production
FrontEnd/crunchly/build

# misc
FrontEnd/crunchly/.DS_Store
FrontEnd/crunchly/.env.local
FrontEnd/crunchly/.env.development.local
FrontEnd/crunchly/.env.test.local
FrontEnd/crunchly/.env.production.local

FrontEnd/crunchly/npm-debug.log*
FrontEnd/crunchly/yarn-debug.log*
FrontEnd/crunchly/yarn-error.log*